.confirmation-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
  }
  
  .confirmation-items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .confirmation-header {
    color: #33e5bc
  }
  
  .confirmation-item {
    margin-bottom: 30px;
  }
  a{
      text-decoration: none;
      color: aliceblue;
      background-color:#0e8faf ;
      padding: 2vh;
      border-radius: 5px;
  }